{# 브리지 트래픽을 패킷 필터에 전달하고 Pod 간 IPv4 전달을 허용한다. #}
{# 이 설정은 방화벽 허용 규칙이나 Kubernetes NetworkPolicy를 대신하지 않는다. #}
net.bridge.bridge-nf-call-iptables = 1
net.bridge.bridge-nf-call-ip6tables = 1
net.ipv4.ip_forward = 1
